<div style="margin: 20px 20%">
	
	<h2>Core - Preferences</h2>
	<br/>
	<h3>CMS options</h3>
	instanz: <strong><%= DC::Config.instance.class.to_s %></strong>
	<%#= DC::Config.instance.preference_definitions['site_name'].da_type %>
	<%# instanz_model = DC::Config.instance %>
	<br/>
	<br/>
	<table style="width: 100%">
	<% DC::Config[].each do |key, value| %>
		<tr>
			<th><%= key.titleize %></th>
			<td><%= DC::Config.instance.preference_definitions[key].da_type %></td>
			<th><%= value %></th>
		</tr>
	<% end %>
	</table>

	<br/>

	
</div>