<div id="dc_header">
	
	<div class="container_48">
		
		<div class="fl_box_950">
				<% image_pt = theme_image_path(DC::Config[:logo].to_s).blank? ? DC::Config[:logo].to_s : theme_image_path(DC::Config[:logo].to_s)  %>
				<% if  DC::Config[:use_logo_datei] &&  DC::Config[:logo_datei] && ! DC::Config[:logo_datei].blank? %>
						<% if Datei.find_by_id( DC::Config[:logo_datei].to_i) %>
							<%  datei = Datei.find_by_id( DC::Config[:logo_datei].to_i)  %>
							<%= link_to( image_tag( datei.file.thumb("350x90>").url() ), root_url, :id => "fineLOGO" ) %>
						<% else %>
							<%= link_to( raw("#{ image_tag( image_pt ) }"), root_url, :id => "fineLOGO" ) %>
						<% end %>
				<% else %>
					<%= link_to( raw("#{ image_tag( image_pt ) }"), root_url, :id => "fineLOGO" ) %>
				<% end %>
			
				
		

		
				<%= render 'static/navigation/header' %>
		
		</div>

		<div class="clearfix"></div>
	
	</div>
</div>
