<%= hook :dc_main_banner %>

<div id="dc_header">
	<div class="container_48">
		
		<div class="fl_box_310">
				<%#= render 'static/parts/cms_logo' %>
				<%= image_tag( '/images/carollis/logo.png' )%>
		</div>
		
		<div class="fl_box_630">
			<%= render 'static/navigation/header' %>
		</div>
		

		<div class="clearfix"></div>
	
	</div>
</div>
