# dresscode-Extension: <%= class_name %>

## <%= @strange_file %>

Introduction goes here.


Example
=======

Example goes here.


Copyright (c) <%= Date.today.year %> [name of extension creator], released under the New BSD License