Rails.application.routes.draw do
  
  # find your routes in: lib/<%= @strange_file %>/routes
  
  namespace :dc do
    dresscode_<%= @strange_name %>_routes
  end
  
  scope DC::Config[:pretty_namespace].to_s.downcase, :as => 'dcr', :module => "dc" do
    dresscode_<%= @strange_name %>_routes
  end

  public_<%= @strange_name %>_routes
  
end
