<%= yield :sidebar %>


<table>
		<tr>
			<th>Controller:</th>
			<td><%= controller.controller_name %></td>
		</tr>
		<tr>
			<th>Action:</th>
			<td><%= controller.action_name %></td>
		</tr>
	</table>