<div id="dc_page">
	<div class="container_48">
		<% if page.use_sidebar && page.use_sidebar != 'none' %>
			
			<div id="public_aside" class="<%= page.use_sidebar.to_s %>">
				Sidebar
				<hr/>
				Sidebar
				<hr/>
				Sidebar
				<hr/>
				Sidebar
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
			<div id="public_content_with_aside">
				<%= yield %>
			</div>
			
		<% else %>
			<div class="fl_box_950">
				<%= yield %>
			</div>
		<% end %>
		<div class="clearfix"></div>
	</div>
</div>
<div class="clearfix"></div>