<% content_for :dc_head do %>
	
	<div class="fl_box_470">
		<h1><%= dc_admin_head_icon( 49 ) %> seitenstruktur</h1>
	</div>
	
	<div class="fl_box_470">
		
	</div>
	
	
<% end %>

<%# for page in @pages %>
	<%#= render 'dc/pages/lists/page', :page => page %>
<%# end %>

<ol id="sortable_page_list">
	<% for page in @pages %>
		<%= render 'dc/pages/lists/page_list', :page => page %>
	<% end %>
</ol>

<%# 
	<div class="box" id="serializeOutput"></div>
	<hr/>
	<div class="box" id="serializeOutput2"></div>
	<hr/>
	<div class="box" id="serializeOutput3"></div>
	<hr/>
	<div class="box" id="serializeOutput4"></div>
%>

<div class="box">
	<%= link_to 'Neue Sortierung anwenden', '#', :id => "send_sorted_list", :class => 'big_submit_button hidden' %>
	<div class="clearfix"></div>
</div>

<% content_for :sidebar do %>
	<%= render 'dc/pages/sidebar' %>
<% end %>
