class Create<%= @strange_class %> < ActiveRecord::Migration
  
  def up
    
	# create_table( :<%= file_name %>s ) do |t|
	# 	t.references  :page
	# 	
	# 	t.timestamps
	# end
    
  end

  def down
	# drop_table :<%= file_name %>s
  end
  
  
end