<% if user_signed_in? %>
  <li>
  <%= link_to( t('dc.users.links.edit_registration'), edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to( t('dc.users.links.register'), new_user_registration_path)  %>
  </li>
<% end %>