<p><%= t("dc.users.mailer.welcome") %> <%= @resource.email %>!</p>

<p><%= t("dc.users.mailer.confirm_account_through_link_below") %>:</p>
<br/>
<p><%= link_to t('dc.users.mailer.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br/>